/* Main Box Code */
#main-box {
  height: 70%;
  width: 30%;
  background-color: #3F51B5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#main-box-name {
  width: 50%;
  margin: 0 auto;
}

/* Button Code */
.button-create {
  background-color: #448AFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;    
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
