p {
  font-family: 'Roboto', sans-serif;
}

/* Main Box Code */
#main-box {
  padding-top: 15%;
  background-color: #3F51B5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#main-box-name {
  width: 50%;
  margin: 0 auto;
}

#main-box-name p  {
  text-align: center;
  vertical-align: middle;
}

#main-box-name-button {
    text-align: center;
    vertical-align: middle;
}

#nameGen {
 color: white;
 font-size: 24px
}

/* Button Code */
.button-create {
  background-color: #448AFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;    
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  outline:0;
}

.button-create:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}

.button-create:active {
  background-color: #303F9F;
}

/* Footer */

.footer {
  background-color: #3F51B5;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5%;
  width: 100%;
  overflow:hidden;
}

.footer-text {
  float: left;
  color: #FFFFFF;
  padding-left: 1%;
  vertical-align: middle;
}
