html {
  height: 100%;
}

body {
  background-color: #2196F3;
  margin: 0;
  min-height: 95%;
  height: 100%;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
}

/* Main Box Code */

#main-box {
  min-height: 95%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#main-box-name {
  width: 50%;
  min-height: 50%;
  margin: 0 auto;
  align-items: center;
}

#main-box-name p {
  text-align: center;
  vertical-align: middle;
}

#main-box-name-button {
  text-align: center;
  vertical-align: middle;
}

#nameGen {
  color: white;
  font-size: 36px
}

.textGreen {
  color: #388E3C !important;
}

/* Button Code */

.button-create {
  background-color: #1976D2;
  font-weight: bold;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  outline: 0;
}

.buttonRed {
  background-color: #e53935;
}

.button-create:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
}

.button-create:active {
  background-color: #303F9F;
}

/* Footer CSS */

footer {
  position: fixed;
  display: table;
  min-height: 5%;
  height: 5%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #303F9F;
  text-align: left;
}

footer p {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding-left: 1%;
  color: white;
  font-weight: 300;
}
